.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  
}
.pic-items {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  
}
img, .explanation {
  max-width: 100%;
  margin: 20px 0;
}

@media screen and (min-width: 1024px) {
  img, .explanation {
    max-width: 800px;
  }
}

.explanation {
  text-align: justify;
}